body{
background-color: yellow; 
color: aliceblue;
}
#nav{
    background-image: url(/estilo/Design\ sem\ nome.png);
    background-size: 150PX;
    height: 150px;
    background-position-x: right;
    background-repeat: no-repeat;
    background-position-y: top;
}
#segundo{
    background-image: url(/estilo/hamburgue.png);
    background-size: 150px;
    height: 150px;
    background-position-x: left;
    background-repeat: no-repeat;
    background-position-y: top;
    
}
#principal{
    background-color:black;
    height: 950px;
    margin: 0px 25px 0px 20px;
    margin-top: -25px;
    margin-bottom: -25px;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
#cor{
    font-size: 20px;
    color: yellow;
}
h2{
    font-size: 15px;
}
h1{
    font-size: 80px;
}

